<!DOCTYPE html>
<html>
<head>
    <title>Demon Kombat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/congrats_style.css"/>
</head>
<body>
<div class="main">
    <div class="congrats">
        <h1 class="congrats__title">Поздравляем! <br> Вы сокрушили Демона и спасли мир! <br> О Ваших подвигах будут сложены легенды!</h1>
    </div>
    <div class="qr">
        <img class="demon_dead_image" src="images/Enemy/demon_gif.gif" alt="demon dead">
        <img class="qr__demon-kombat" src="images/rick_roll.png" alt="demon">
    </div>
</div>
</body>
</html>