<!DOCTYPE html>
<html>
<head>
    <title>Demon Kombat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/demon_kombat_style.css"/>
</head>
<body>
<img class="demon-kombat-qr" src="images/demon_kombat_qr.png" alt="demon">
</body>
</html>