<!DOCTYPE html>
<html>
<head>
  <title>First Level</title>
  <script src="script/pixi.js"></script>
  <script src="script/other/Bullet.js"></script>
  <script src="script/other/Experience.js"></script>
  <script src="script/other/Fireball.js"></script>
  <script src="script/obstacles/Stalactite.js"></script>
  <script src="script/characters/Hero.js"></script>
  <script src="script/characters/Devil.js"></script>
  <script src="script/characters/Bat.js"></script>
  <script src="script/other/Poison.js"></script>
  <script src="script/objects/Ground.js"></script>
  <script src="script/objects/WoodenPlank.js"></script>
  <script src="script/other/Shield.js"></script>
  <script src="script/other/Health.js"></script>
  <script src="script/other/Portal.js"></script>
  <script src="script/objects/Wall.js"></script>
  <script src="script/levels/level1.js"></script>
  <script src="script/TextureLoader.js"></script>
  <link rel="stylesheet" href="css/level_style.css"/>
</head>
<body>
  <script src="script/index.js"></script>
</body>
</html>