<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <script src="script/pixi.js"></script>
  <script src="script/Bullet.js"></script>
  <script src="script/Experience.js"></script>
  <script src="script/Fireball.js"></script>
  <script src="script/Hero.js"></script>
  <script src="script/Enemy.js"></script>
  <script src="script/Devil.js"></script>

  <script src="script/Bat.js"></script>
  <script src="script/Poison.js"></script>

  <script src="script/Ground.js"></script>
  <script src="script/WoodenPlank.js"></script>
  <script src="script/Shield.js"></script>
  <script src="script/Health.js"></script>
  <script src="script/Portal.js"></script>
  <link rel="stylesheet" href="css/level1-style.css"/>
</head>
<body>
<script src="script/index.js"></script>
</body>
</html>