<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Legend</title>
    <link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/legend-style.css">
</head>
<body>
    <div class="main">
        <h1 class="center-align">Demon Deliverance</h1>
        <p class="center-align">
            Корпорация "N" давно занимается исследованиями межпространственных путешествий в окрестностях Марса. Однако, последний эксперимент обернулся катастрофой: попытка телепортации с Деймоса на Фобос привела к открытию разлома в одной из лабораторий. Из этого разлома начали проникать демоны из самого ада.<br>
            <br>
            Теперь ваша задача – закрыть разлом и остановить вторжение демонов в наш мир.<br>
            <br>
            Доступ к лаборатории закрыт демонами, поэтому вам предстоит десантироваться на крышу и спускаться по этажам до подвала, где открыт разлом. Лаборатория уже частично разрушена и напоминает сам ад: повсюду препятствия, обвалы и разрушения.<br>
            <br>
            В лаборатории можно найти оружие в специальных контейнерах. Уничтожая демонов, вы будете получать фрагменты, которые могут лечить вас.<br>
            <br>
            Будьте готовы к жестокой битве и помните: судьба человечества в ваших руках.<br>
        </p>
        <a class="continue" href="/game">Продолжить -></a>
    </div>
</body>
</html>