<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lobby</title>
  <link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/lobby_style.css">
  <input type="hidden" id="lobby-id" value="{{ lobby.getId }}">
  <input type="hidden" id="lobby-host" value="{{ lobby.getHostUserName }}">
  <input type="hidden" id="username" value="{{ username }}">
</head>
<body>
Здесь будет лобби
<script>
    host = document.getElementById('lobby-host').value
    //connectedUsername = document.getElementById('lobby-username').value
    lobbyId = document.getElementById('lobby-id').value
    username = document.getElementById('username').value
    console.log(username)
  const ws = new WebSocket('ws://localhost:8080');
  let isConnected = false;
  const messageQueue = [];

  ws.onopen = function() {
      isConnected = true;
      console.log('WebSocket connection established');
      while (messageQueue.length > 0) {
          ws.send(messageQueue.shift());
      }
      ws.send(JSON.stringify({'userdata': {'username': username, 'host': host, 'lobby_id': lobbyId},}))
  };

  ws.onerror = function(error) {
      console.error('WebSocket Error: ' + error);
  };

  ws.onclose = function() {
      isConnected = false;
      console.log('WebSocket connection closed');
      sendMessage('close');
  };

  ws.onmessage = function(event) {
    const data = JSON.parse(event.data);
    console.log(data);
  };

  function sendMessage(msg)
  {
      const message = JSON.stringify({ msg });
      if (isConnected) {
          ws.send(message);
      } else {
          console.log('WebSocket is not connected yet, queueing message');
          messageQueue.push(message);
      }
  }
  let timerId = setInterval(() => {ws.send(JSON.stringify({'userdata': {'username': username, 'host': host, 'lobby_id': lobbyId},}))}, 5000);
</script>
</body>
</html>