
<!DOCTYPE html>
<html>
<head>
  <title>Lobbies</title>
</head>
<body>
<h1>Доступные Лобби</h1>
<ul>
  {% for lobby in lobbies %}
    <li>Лобби {{ lobby.hostUsername }}
      {% if lobby.connectedUsername is null %}
        <form action="{{ path('join_lobby', {id: lobby.id}) }}" method="get">
          <button type="submit">Подключиться</button>
        </form>
      {% else %}
        (Full)
      {% endif %}
    </li>
  {% endfor %}
</ul>
<form action="{{ path('create_lobby') }}" method="get">
  <button type="submit">Создать новое лобби</button>
</form>
</body>
</html>