<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/menu-style.css">
</head>
<body>
  <h1 class="center-align title">Меню</h1>
  <div class="options-list">
    <a class="rating" href="/rating">
      <p>Рейтинг</p>
      <img src="images/rating_icon.svg">
    </a>
    <a class="single" href="/choose-level">
      <p>Одиночная кампания</p>
      <img src="images/singleplayer_icon.svg">
    </a>
    <a class="multi" href="/lobby">
      <p>Многопользовательский режим</p>
      <img src="images/multiplayer_icon.svg">
    </a>
  </div>
  <a class="signout" type="submit" href="/user/signout">Выйти</a>
</body>
</html>