<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Game name</h1>
<p>Legend</p>
<form action="/game">
    <button type="submit">Play</button>
</form>
<form action="/user/signout">
    <button type="submit">Sign Out</button>
</form>
</body>
</html>