<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/menu-style.css">
</head>
<body>
  <h1 class="center-align title">Меню</h1>
  <div class="levels-list">
    <a class="level-list__first" href="/first-level">
      <p>1 уровень</p>
    </a>
    <a class="level-list__second" href="/second-level">
      <p>2 уровень</p>
      {% if level < 2 %}
        <p>LOCKED</p>
      {% endif %}
    </a>
    <a class="level-list__third" href="/third-level">
      <p>3 уровень</p>
      {% if level < 3 %}
        <p>LOCKED</p>
      {% endif %}
    </a>
  </div>
  <a type="submit" href="/user/signout">Выйти</a>
</body>
</html>