<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/menu-style.css">
</head>
<body>
  <h1 class="center-align title">Menu</h1>
  <form class="form-play" action="/legend">
    <button class="button-custom" type="submit">
      <img class="button-custom__play" src="images/play-button.svg" alt="play">
    </button>
  </form>
  <form action="/user/signout">
    <button type="submit">Sign Out</button>
  </form>
</body>
</html>