<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lobby</title>
  <link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/lobby_style.css">
</head>
<body>
Существующие лобби
<ul class="existing-lobby">
  {% for lobbyItem in lobby %}
    <li> Лобби {{ lobbyItem.getHostUsername }} {{lobbyItem.getConnectedUsername}} {% if lobbyItem.getConnectedUsername == null %} 1 / 2 {% else %} 2 / 2 {% endif %} <a href="/lobby/connect{{ lobbyItem.getHostUsername }}">Подключиться</a></li>
  {% endfor %}
</ul>
<a class="lobby-create-link" href="/lobby/create">Создать лобби</a>
</body>
</html>