<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="css/screensaver-style.css">
</head>
<body>
  <div class="title">
    <h1 class="title-text">Game name</h1>
  </div>
  <form action="/user/signup">
    <button type="submit">Sign Up</button>
  </form>
  <form action="/user/signin">
    <button type="submit">Sign In</button>
  </form>
</body>
</html>