<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up User</title>
    <link rel="stylesheet" href="css/signup-style.css">
</head>
<body>
<div class="form">
    <h1 class="form__title">Sign Up</h1>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <form action="/signup" method="post">
        <div class="form__username">
            <label for="username">Name:</label><br>
            <input name="username" id="username" type="text">
        </div>
        <div class="form__password">
            <label for="password">Password:</label><br>
            <input name="password" id="password" type="text">
        </div>
        <button class="form__button-signup" type="submit">Sign Up</button>
    </form>
</div>
</body>