<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up User</title>
    <link rel="stylesheet" href="/css/signup-style.css">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
</head>
<body>
<div class=" form">
    <form action="/signup" method="post">
        <div class="field border fill responsive input">
            <input name="username" id="username" type="text" placeholder="имя">
        </div>
        <div class="field border fill input">
            <input name="password" id="password" type="password" placeholder="пароль">
        </div>
        <button class="small-round responsive button-signin" type="submit">зарегистрироваться</button>
    </form>
    <p class="center-align form__text">Уже зарегистрированы?</p>
    <form action="/user/signin">
        <button class="small-round responsive button-signup" type="submit">войти</button>
    </form>
</div>
</body>
</html>